<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<title>添加弧线</title>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=zMz62hqs3RSGpHgH1y8Dnw1cDBpF35NO"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/CurveLine/1.5/src/CurveLine.min.js"></script>
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
	<style type="text/css">
		html,body{
			width:100%;
			height:100%;
			margin:0;
			overflow:hidden;
			font-family:"微软雅黑";
		}
	</style>
</head>
<body>
	<div style="width:100%;height:100%;border:1px solid gray" id="container"></div>
</body>
</html>



<script type="text/javascript">
   var data = {{ road|safe }};
   var convertor = new BMap.Convertor();

   // 百度地图API功能
   var map = new BMap.Map("container");
   map.centerAndZoom(new BMap.Point(data[0][0][1],data[0][0][0]), 15);
   map.enableScrollWheelZoom();

   function point(x) {
	   return new BMap.Point(x[1], x[0])
   };




	var callbackfun = function (redata) {
	   var line = new BMap.Polyline(redata.points, {strokeColor: "blue", strokeWeight: 3, strokeOpacity: 0.5});
            map.addOverlay(line);

   };



   for(var i in data) {

	   var tmp = data[i].map(point)

	   var arr = [];
	   for (var i = 0; i < tmp.length; i++) {
		   arr.push(tmp[i]);
		   if (i % 9 === 0) {
			   convertor.translate(arr, 1, 5, callbackfun);
			   arr = [];
			   arr.push(tmp[i]);
		   }
	   }
   }

</script>



